<h2>Create New Landmark</h2>

<form action="/landmarks" method="POST">
  <label>Name:</label>
  <br>
  <input id= "landmark_name" type="text" name="landmark[name]">
  <label>Year Completed:</label>
  <br>
  <input id= "landmark_year_completed" type="integer" name="landmark[year_completed]">

  <br>

  <h3>Titles</h3>
  <% @titles.each do |title| %>
    <input type="checkbox" name="landmark[title_ids][]" id="title_<%= title.id %>" value="<%= title.id %>"><%= title.name %></input><br>
  <% end %>                                                         
  <br>

  <h3>Create New Title</h3>
  <label>New Title: </label>
  <br>
  <input type="text" name="title[name]" id="new_title"></input>
  <br><br>

  <h3>Figures</h3>
  <% @figures.each do |figure| %>
    <input type="checkbox" name="landmark[figure_ids][]" id="figure_<%= figure.id %>" value="<%= figure.id %>"><%= figure.name %></input><br>
  <% end %>                                                         
  <br>

  <h3>Create New Figure</h3>
  <label>Name: </label>
  <input id= "new_figure" type="text" name="figure[name]">
  <br><br>

  <input type="submit" value="Create New Landmark">
</form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
