<h1>Edit <%=@figure.name%>!</h1>

<form action="/figures/<%= @figure.id %>" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">
  <label>Name:</label>
  <br>
  <input id= "figure_name" type="text" name="figure[name]">

  <br>

  <h3>Titles</h3>
  <% @titles.each do |title| %>
    <input type="checkbox" name="figure[title_ids][]" id="title_<%= title.id %>" value="<%= title.id %>" <%='checked' if @figure.titles.include?(title) %>><%= title.name %></input><br>
    <% end %>                                                         
  <br>

  <h3>Create New Title</h3>
  <label>New Title: </label>
  <br>
  <input type="text" name="title[name]" id="new_title"></input>
  <br><br>

  <h3>Landmarks</h3>
  <% @landmarks.each do |landmark| %>
    <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%= landmark.id %>" value="<%= landmark.id %>"<%='checked' if @figure.landmarks.include?(landmark) %>><%= landmark.name %></input><br>    
    <% end %>                                                         
  <br>

  <h3>Create New Landmark</h3>
  <label>Name: </label>
  <input id= "new_landmark" type="text" name="landmark[name]">
  <label>Year Completed: </label>
  <input id= "year_completed" type="integer" name="landmark[year_completed]">
  <br><br>

  <input type="submit" value="Edit Figure">
</form>
